html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: white;
}

a:hover {
    color: white;
}

body {
    background-color: #090909;
    color: white;
    width: 100%;
    font-family: 'Chivo', sans-serif;
}

.navbar {
    width: 100%;
    background-color: #090909;
    padding: 1.5rem 0;
    position: fixed;
    z-index: 1000;
    top: 0;
}

.navbar-brand {
    margin-left: 4.4%;
}

.navbar a:hover {
    color: white;
}

.underline {
    display: inline-block;
    position: relative;
}

.nav-item:nth-of-type(4) {
    text-decoration: 0.5px underline;
    text-underline-offset: 6px;
}

.underline::after {
    content: '';
    position: absolute;
    transform: scaleX(0);
    height: 0.5px;
    bottom: 3.8px;
    left: 7px;
    right: 6.2px;
    background-color: white;
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}

.underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-brand {
    color: white;
}

.navbar-nav {
    width: 93%;
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    text-align: right;
}

.nav-item {
    color: white;
}

.contact-wrapper {
    height: fit-content;
    width: 100%;
    padding: 5% 4.4%;
    display: flex;
    justify-content: center;
}

.contact {
    width: 80%;
}

.info-wrapper {
    height: fit-content;
}

.info {
    width: 70%;
}

.info-head {
    font-size: 1.8rem;
}

.info-text {
    font-size: 1.1rem;
    font-weight: lighter;
    line-height: 1.7rem;
}

.icons {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 1rem;
}

.icn {
    margin: 0 0.5rem;
}

.icn:nth-of-type(1) {
    margin-left: 0.1rem;
}

.icn:hover {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.15s ease-in-out;
}

.name {
    width: 100%;
}

.alert {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 6px 9px;
    width: fit-content;
    margin: 0 0 10px;
    line-height: 1.4;
}

.alert-icon {
    padding: 0 9px 0 0;
}

.alert-text {
    font-size: 14px;
    font-weight: 500;
}

.title {
    font-size: 18px;
}

.req {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}

.name-input-wrapper {
    display: flex;
    justify-content: left;
    width: 100%;
}

.name-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.first {
    margin-right: 10px;
}

.field {
    width: 100%;
    height: 45px;
    font-size: 18px;
    border: none;
    background-color: white;
    color: black;
    padding: 11px;
    margin-bottom: 10px;
}

.field:not([style*="background-color: white"]):hover {
    opacity: 0.8;
    transition: 0.2s opacity linear;
}

.msg {
    height: 100px;
}

.btn {
    height: 50px;
    width: 100px;
    border-radius: 0;
}

@media (max-width: 767.9px) {
    .underline::after {
        transform: scaleX(0);
    }

    .underline:hover::after {
        transform: scaleX(0);
    }

    .contact-wrapper {
        padding: 5% 0;
    }

    .contact {
        width: 100%;
    }

    .info-wrapper {
        padding: 0;
    }

    .info {
        width: 100%;
    }

    .form-wrapper {
        padding: 0;
    }
}

@media (max-width: 1120px) {
    .contact {
        width: 90%;
    }

    .info {
        width: 90%;
    }
}

.footer {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin: 5rem 0 2rem 4.4%;
}

.name-box {
    font-size: 1.5rem;
}

.icon-box {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 1rem;
}

.icon {
    margin: 0 0.5rem;
}

.icon:nth-of-type(1) {
    margin-left: 0.1rem;
}

.icon:hover {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.15s ease-in-out;
}