@import url('cssreset.css');

@import url('navbarstyle.css');

body {
    background-color: black;
    color: white;
    width: 100%;
    font-family: 'Chivo', sans-serif;
}

.intro-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10rem;
    padding-top: 5rem;
}

.intro {
    font-family: 'Chivo', sans-serif;
    width: 50%;
    height: 100%;
    padding: 2.3rem;
}

@media (max-width: 1120px) {
    .intro-wrapper {
        margin-bottom: 7rem;
    }

    .intro {
        width: 70%;
        height: 100%;
    }
}

@media (max-width: 768px) {
    .intro-wrapper {
        margin-bottom: 4rem;
    }

    .intro {
        width: 100%;
        height: 100%;
        padding: 4%;
    }
}

.intro-head {
    font-size: 1.9rem;
}

.intro {
    font-size: 1.15rem;
    font-weight: lighter;
    line-height: 30px;
}

.featured-wrapper {
    width: 100%;
    margin-bottom: 5rem;
}

.featured {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-deck {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    flex-wrap: wrap;
}

.card {
    height: 35rem;
    background-color: transparent;
    color: white;
}

.card-title {
    line-height: 32px;
    font-size: 1.9rem;
    font-weight: 400;
    text-decoration: 1px underline;
    text-underline-offset: 8px;
}

.webapp {
    text-decoration: none;
}

.webapp-title {
    text-decoration: 1px underline;
    text-underline-offset: 8px;
}

.webapp-link {
    text-decoration: none;
}

.webapp-link:hover {
    text-decoration: none;
}

.card-title:hover {
    text-decoration: 1px underline;
}

.multiline {
    line-height: 1.25;
}

.card-text {
    margin-top: 35px;
    font-size: 1.1rem;
    line-height: 30px;
}

.footer {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin: 5rem 0 2rem 4.4%;
}

.name-box {
    font-size: 1.5rem;
}

.icon-box {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 1rem;
}

.icon {
    margin: 0 0.5rem;
}

.icon:nth-of-type(1) {
    margin-left: 0.1rem;
}

.icon:hover {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.15s ease-in-out;
}