@import url('cssreset.css');

@import url('navbarstyle.css');

body {
    background-color: black;
    color: white;
    width: 100%;
    font-family: 'Chivo', sans-serif;
}

.content-wrapper {
    width: 100%;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-top {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.text-bottom {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.featured-wrapper {
    width: 80%;
}

.deck {
    display: flex;
    justify-content: center;
}

.card {
    min-height: fit-content;
    background-color: transparent;
    color: white;
    margin-bottom: 5rem;
}

.card-title {
    line-height: 32px;
    font-size: 1.9rem;
    font-weight: 400;
    text-decoration: 1px underline;
    text-underline-offset: 8px;
}

.card-title:hover {
    text-decoration: 1px underline;
}

.webapp-link {
    text-decoration: none;
}

.webapp-title {
    text-decoration: 1px underline;
    text-underline-offset: 8px;
}

.multiline {
    line-height: 1.25;
}

.webapp-link:hover {
    text-decoration: none;
}

.card-body {
    height: fit-content;
}

.card-text {
    margin-top: 35px;
    font-size: 1.1rem;
    line-height: 30px;
}

.footer {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin: 5rem 0 2rem 4.4%;
}

.name-box {
    font-size: 1.5rem;
}

.icon-box {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 1rem;
}

.icon {
    margin: 0 0.5rem;
}

.icon:nth-of-type(1) {
    margin-left: 0.1rem;
}

.icon:hover {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.15s ease-in-out;
}