@import url('cssreset.css');

body {
    background-color: black;
    color: white;
    width: 100%;
    font-family: 'Chivo', sans-serif;
}

.navbar {
    width: 100%;
    background-color: transparent;
    padding: 1.5rem 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    transition: 0.1s ease-in;
}

.navbar-brand {
    margin-left: 4.4%;
}

.navbar a:hover {
    color: white;
}

.underline {
    display: inline-block;
    position: relative;
}

.nav-item:nth-of-type(3) {
    text-decoration: 0.5px underline;
    text-underline-offset: 6px;
}

.underline::after {
    content: '';
    position: absolute;
    transform: scaleX(0);
    height: 0.5px;
    bottom: 3.8px;
    left: 7px;
    right: 6.2px;
    background-color: white;
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}

.underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-brand {
    color: white;
}

.navbar-nav {
    width: 93%;
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    text-align: right;
}

.nav-item {
    color: white;
}

.scrolled {
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(20px);
}

@media (max-width: 767.9px) {
    .underline::after {
        transform: scaleX(0);
    }

    .underline:hover::after {
        transform: scaleX(0);
    }
}

.content-wrapper {
    width: 100%;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-top {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.text-bottom {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.featured-wrapper {
    width: 80%;
}

.deck {
    display: flex;
    justify-content: center;
}

.card {
    min-height: fit-content;
    background-color: transparent;
    color: white;
    margin-bottom: 5rem;
}

.card-title {
    line-height: 32px;
    font-size: 1.9rem;
    font-weight: 400;
    text-decoration: 1px underline;
    text-underline-offset: 8px;
}

.card-title:hover {
    text-decoration: 1px underline;
}

.webapp-link {
    text-decoration: none;
}

.webapp-title {
    text-decoration: 1px underline;
    text-underline-offset: 8px;
}

.multiline {
    line-height: 1.25;
}

.webapp-link:hover {
    text-decoration: none;
}

.card-body {
    height: fit-content;
}

.card-text {
    margin-top: 35px;
    font-size: 1.1rem;
    line-height: 30px;
}

.footer {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin: 5rem 0 2rem 4.4%;
}

.name-box {
    font-size: 1.5rem;
}

.icon-box {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 1rem;
}

.icon {
    margin: 0 0.5rem;
}

.icon:nth-of-type(1) {
    margin-left: 0.1rem;
}

.icon:hover {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.15s ease-in-out;
}