body,
html {
    height: 100vh;
    background-color: #131212;
    color: white;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
}

i {
    color: #FFA559;
}

.navbar {
    background-color: #242323;
}

.navbar-brand {
    color: #EC8602;
    font-size: 1.6rem;
}

.navbar-brand:hover {
    color: #EC8602;
}

.nav-link {
    color: #ffe6c7;
    font-size: 1.3rem;
}

.nav-link:hover {
    color: #EC8602;
}

.row {
    margin: 0;
    padding: 0;
}

.intro1 {
    font-size: 2.8rem;
    color: #ec8602;
}

@media (max-width: 1200px) {
    .intro1 {
        font-size: 2.5rem;
    }
}

.head {
    font-size: 50px;
    text-align: center;
    color: #ec8602;
    font-weight: bold;
    text-decoration: underline 3px;
}

.about-text {
    font-size: 1.5rem;
    color: #f1faee;
}

@media (max-width: 1024px) {
    .about-text b {
        color: #EC8602;
    }
}

.about-text:hover b {
    color: #ec8602;
    transition: 0.3s;
}

.skills-body {
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}

.prog .fa-star {
    visibility: hidden;
}

.prog:hover .fa-star {
    visibility: visible;
}

.prog:hover i {
    color: #EC8602;
}

.prog h3 {
    width: 100px;
}

.card {
    background-color: #242323;
    color: white;
}

.btn1 {
    background-color: #EC8602;
}

.btn1:hover {
    color: #131212;
    background-color: #EC8602
}

.downresume {
    text-decoration: none;
    color: #131212;
}

.download {
    background-color: #ec8602;
}

.download:hover {
    background-color: #EC8602;
}

.social-img:hover {
    color: #ec8602;
}

.footer {
    background-color: #242323;
}